@import './base.css';

#app {
  /* border: 1px #F00 solid; */
}

pre {
  background: #282c34;
  color: #fff;
  /* white-space: pre-line; */
  padding: 15px;
  line-height: 22px;
  border-radius: 6px;
  font-size: 14px;
  overflow: auto;
  margin: 12px 0;
}